# Python virtual environment
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
.python-version

# Build artifacts
*.so
*.dll
*.pyd

# dotenv
.env
*.env

# virtualenv
.venv/
venv/
ENV/

# misc files
notes.txt
instruc.txt